.ant-tour {
  width: 15rem !important;
  transition: width 0.2s ease-in;
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.2);
}

.styled-tour {
  z-index: 10001 !important;
}

.styled-tour .ant-tour-header {
  padding: 2.2rem 1rem 0.5rem 1rem !important;
}

.styled-tour .ant-tour-footer {
  padding: 1rem !important;
}

.styled-tour .ant-tour-title {
  font-size: 1.5rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

.styled-tour .ant-tour-description {
  color: var(--text, #212121) !important;
  font-family: IBM Plex Sans !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

.styled-tour .ant-tour-buttons {
  display: flex !important;
  margin-inline-start: 0px !important;
  width: 100% !important;
  gap: 0.5rem !important;
}

.styled-tour .ant-tour-buttons button {
  margin-inline-start: 0px !important;
  display: flex !important;
  padding: 20px 1rem !important;
  justify-content: center !important;
  align-items: center !important;
  flex: 1 !important;
  border-radius: 4px !important;

  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
}

.styled-tour .ant-tour-prev-btn {
  border: 1px solid #d0d0ff !important;
}

.styled-tour .ant-tour-next-btn {
  background: #7567ff !important;
}

.styled-tour .ant-tour-indicators {
  position: absolute;
  top: 16px;
  right: 16px;
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.styled-tour .ant-tour-close {
  display: none !important;
}

.styled-tour .ant-tour-buttons .tour-display-none {
  display: none !important;
}