@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.85rem;
  background: #F5F5F5;
}

.header-pills {
  height: 8px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -5px;
  z-index: -1;

  div {
    width: 40%;
    border-radius: 12px;

    &:nth-child(1) {
      background-color: #ff7450;
    }

    &:nth-child(2) {
      background-color: #fedf64;
    }

    &:nth-child(3) {
      background-color: #7567ff;
    }

    &:not(:first-child) {
      margin-left: -18px;
    }
  }
}

.p-con {
  padding: 1rem 1rem 2rem 1rem;
  width: 30rem;


  .login-con {
    a {
      color: blue;
      font-weight: bold;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .action-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.title {
  font-size: 1.35rem;
  font-weight: 600;
  color: #16023E;
}

.description {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 8px;
  padding: 0.5rem;
  background: white;
  line-height: 1.375rem;
  font-size: 0.875rem;
  text-align: left;
  margin-top: 1rem;

  ol {
    padding-inline-start: 25px;
  }

  a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.sm-logo {
  height: 16px;
  width: 16px;
}

.btn-primary {
  width: 95%;
  height: 44px;
  margin-top: 0.5rem;
  border: none;
  background: #7567ff;
  color: white;
  border-radius: 48px;
  font-size: 0.875rem;

  .em {
    background: #00000030;
    padding: 2px 8px 2px 5px;
    border-radius: 3px;
  }
}

.btn-secondary {
  width: 95%;
  height: 44px;
  margin-top: 0.5rem;
  border: 2px solid #16023E;
  color: #16023E;
  background: transparent;
  border-radius: 49px;
  font-size: 0.875rem;
}

button {
  &:hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.5;
    cursor: no-drop;
  }
}
