@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.95rem;
}

#root , .app {
  height: 100%;
  width: 100%;
}

.ant-wave, .wave-motion-appear, .wave-motion-appear-active, .wave-motion {
  display: none !important;
}

@keyframes blink{
  0%{opacity: .35;}
  50%{opacity: 1;}
  100%{opacity: .35;}
}
