version: '3.9'

services:
  schema_api:
    image: flyway/flyway@sha256:be37029d12403cb198d4cbb5cec0e94068f8abcdecc3e03aa419309fa806e9a5
    container_name: fable-db-flyway
    command: -url=${DB_CONN_URL_DOCKER} -schemas=migration -user=${DB_USER} -password=${DB_PWD} -connectRetries=60 migrate
    volumes:
      - ./schema/api:/flyway/sql
    profiles:
      - na

  schema_analytics:
    image: flyway/flyway@sha256:be37029d12403cb198d4cbb5cec0e94068f8abcdecc3e03aa419309fa806e9a5
    container_name: fable-analytics-db-flyway
    command: -url=${ANALYTICS_DB_CONN_URL_DOCKER} -schemas=migration -user=${ANALYTICS_DB_USER} -password=${ANALYTICS_DB_PWD} -connectRetries=60 migrate
    volumes:
      - ./schema/analytics:/flyway/sql
    profiles:
      - na

  db:
    image: mysql/mysql-server
    container_name: fable-db
    command: [ "--default-authentication-plugin=mysql_native_password" ]
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PWD}
      - MYSQL_ROOT_HOST=%
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "3306:3306"
    profiles:
      - dev

  pg_analytics:
    image: postgres:16-alpine
    container_name: fable-analytics-db
    environment:
      - POSTGRES_PASSWORD=${ANALYTICS_DB_USER}
      - POSTGRES_USER=${ANALYTICS_DB_PWD}
      - POSTGRES_DB=fable_analytics
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    profiles:
      - dev

volumes:
  mysql-data:
  postgres-data:

