name: Build and Deploy Ext and Client
on:
  push:
    branches: [develop]

  workflow_dispatch:

jobs:
  build-and-deploy-ext-and-client:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name == 'master' && 'prod' ||  github.ref_name == 'develop' && 'staging' || 'na' }}

    permissions:
      id-token: write
      contents: read
      issues: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3


      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 14

      - name: Get Version Number
        id: version
        run: echo "::set-output name=version::$(node -p -e "require('./package.json').version")"
        working-directory: workspace/packages/ext-tour


      - name: printing_vars
        id: dbg
        # run: echo "${{ vars.EXT_BUCKET_NAME }} -- ${{ vars.AWS_ROLE_TO_ASSUME }} -- ${{ vars.A_NEW_TEST_VAR }} -- ${{ github.ref_name }}"
        run:  echo ${{secrets.AWS_ROLE_TO_ASSUME}} | sed 's/./& /g'


      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: us-east-1
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: app-deployment

