name: Build and Deploy Ext and Client
on:
  push:
    branches:
      - develop

jobs:
  build-and-deploy-ext-and-client:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read
      issues: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Manual approval
        uses: trstringer/manual-approval@v1
        with:
          secret: ${{ github.TOKEN }}
          approvers: ${{vars.APPROVERS}} 
          minimum-approvals: 1
          issue-title: "Deploy web to production"
          issue-body: "Please approve or deny the deployment of web"
      - name: echo success message
        run: echo "Got the approved message"

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 14

      - name: Install Dependencies
        run: yarn
        working-directory: workspace

      - name: Build Common
        run: yarn build
        working-directory: workspace/packages/common

      - name: Build Extension
        run: yarn build-staging
        working-directory: workspace/packages/ext-tour

      - name: Build Client
        run: yarn build-staging
        working-directory: workspace/packages/client

      - name: Get Version Number
        id: version
        run: echo "::set-output name=version::$(node -p -e "require('./package.json').version")"
        working-directory: workspace/packages/ext-tour

      - name: Zip Build Directory
        run: zip -r extension-${{ steps.version.outputs.version }}.zip build
        working-directory: workspace/packages/ext-tour

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: us-east-1
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: app-deployment

      - name: Upload the extension to S3
        run: aws s3 cp extension-${{ steps.version.outputs.version }}.zip s3://${{ vars.EXT_BUCKET_NAME }}/ext-build/extension-${{ steps.version.outputs.version }}.zip
        working-directory: workspace/packages/ext-tour

      - name: Upload the client to S3
        run: aws s3 sync ./build s3://${{ vars.CLIENT_BUCKET_NAME }}
        working-directory: workspace/packages/client

      - name: Invalidation of cloudfront cache
        run: aws cloudfront create-invalidation --distribution-id ${{ vars.CF_DIST_ID }} --paths '/*';
